* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  background: rgb(3, 125, 1);
  width: 800px;
  height: 500px;
  justify-content: center; /*flex-start flex-end center space-between space-around space-evenly*/
  --align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.item {
  background: #81c368;
  --margin: 20px;
  width: 100px;
  height: 100px;
}
